

h1,
h2,
h3,
body,
input
{
    font-family: "Mouse Memoirs", sans-serif;
}
input:focus {
    border-color: #E1AAAA;
}

button:hover {
    box-shadow: 0px 0px 0px 0px;
    background: #EBDADA;
    cursor: pointer;
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.site {
    background: #ffffff;
    max-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.masthead{
    text-align: center;
    box-shadow: 0px 4px 4px yellowgreen, 0px 4px 4px yellowgreen, 0px 4px 4px yellowgreen, 0px 4px 4px yellowgreen;

}
.masthead ul {
    justify-content: center;
    display:inline-flex;
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.masthead li {
    display:block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 0px;
    padding-right: 0px;
}
.header h3{
    text-shadow: 0px 4px 4px #878589;
}
.input_area {
    display: inline-block;
    bottom: 0;


}


.masthead a {
    display:block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 0px;
    padding-right: 0px;
    text-decoration: none;
    color: black;
    font-size: 36px;
    text-shadow: 0px 4px 4px black;
}
.masthead a:hover {
    text-shadow: 0px 0px 0px black;
}

.sign {
    margin-right: 0;
    float: right;
}


li {
    text-decoration: none;
    list-style: none;
}

.color_pink {
    background: #EBDADA;
}
.color_body {
    background: #E1AAAA;
}
.grass {
    background-image: url("../images/grass.svg");
}


.friends {
    display: grid;
    margin-top: 10px;
    background-image: url("../images/ground.svg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.friends ul {
    display: block;
    width: 100%;
    padding: 0;
    float: top;

}

.friend_info {
    float: left;
    margin-left: 20px;
    text-align: left;
    padding-top: 5px;
}

.title {
    height: 60px;
    background-image: url("../images/ground.svg");
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.title h3 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 0;
    color: black;
    text-shadow: 0px 4px 4px yellowgreen;

}




.messages {
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url("../images/ground.svg");
}

h1 {
    margin: 0 auto;
    font-size: 72px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-size: 36px;
    margin: 0 auto;
    padding: 0px;
}

h3 {
    padding: 0px;
    margin: 0 auto;
}
p {
    padding: 0px;
    margin: 0 auto;
}


input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    font-size: 18px;
}

.btn_back {
    display: inline-block;
    height: 65px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 30%;
    background-image: url("../images/ground.svg");
    border: 2px solid black;
    text-shadow: 0px 4px 4px yellowgreen;

}
.messages_title {
    display: inline-flex;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    width: 70%;
    margin-left: 10px;
    align-items: center;
    background-image: url("../images/ground.svg");
    border: 2px solid black;
    text-shadow: 0px 4px 4px yellowgreen;
}
.messages_title h3 {
    padding-left: 20px;
    font-size: 36px;
    text-align: left;
    margin-left: 5px;
}

.messages_title_title {
    margin-right: 10px;
}
.friendLogo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.messages_items {
    display: inline-flex;
    height: 60px;
    float: left;
    padding: 0px;
}

.message_item {
    display: inline-flex;
    width: 95%;
    min-height: 35px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
    align-items: center;
}
.friend {
    background: #87AE61;
    padding-left: 10px;
}
.you {
    background: #827F83;
    padding-left: 10px;
}
.friend_name {
    width: 10%;
    text-align: left;
}
.friend_message {
    text-align: left;
    margin-left: 10px;
}


.messages_block {
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.messages_block ul {
    padding-left: 0;
}

.messages_block ul li{
    width: 100%;

}

button h3 {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 5px;
}
.avatar {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin-left: 5px;
}

.userLogo {
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.userImg {
    margin-left: 0;
    padding-left: 0px;
    float: left;
    text-align: left;

}

.friend_item {
    display: block;
    position: relative;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 0;
    float: left;
    border-radius: 10px;
    width: 99%;
    box-shadow: 2px 4px 4px 2px rgba(9, 9, 9, 9.25);
    border: 1px solid black;
}

.user_item {
    display: block;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 20px;
    float: left;
    border-radius: 10px;
    width: 30%;
    min-height: 60px;
    box-shadow: 2px 4px 4px 2px rgba(9, 9, 9, 9.25);
    border: 1px solid black;
    background: #BD8661;
}

.friend_item:hover {
    box-shadow: 4px 4px 4px 4px yellowgreen;
    border: 0px solid black;

}

.friend_item img {
    float: left;
    padding-left: 20px;
}
.messages_input {
    display: inline-block;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
}
.btn_send_message {
    display: block;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    float: right;
    max-width: 60px;
    text-align: inherit;
    margin-right: 10px;
}

.pagination_area {
    width: 100%;
    float: right;
    border-radius: 10px;
    margin-right: 20px;

}
.pagination_area ul {
    width: 100%;
    padding-left: 0;
}

.pagination_area li {
    display: inline-block;
    text-shadow: 0px 4px 4px yellowgreen;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6EA748;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.pagination_area li h5 {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    align-items: center;

}

.search_title {
    width: 30%;
    float: right;
    border-radius: 10px;
    margin-right: 20px;
}
.search_label {
    padding-right: 10px;
}





/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
    .site {
        max-width: 50em;
        margin: 0 auto;
    }
}


@media screen and (min-width: 300px) {
    @supports (display: grid) {
        .site {
            display: grid;
            grid-template-columns: 1fr repeat(10, minmax(auto, 10em)) 1fr;
            grid-template-rows: 1fr repeat(5, minmax(auto, 10em));
        }
        .masthead {
            grid-column: 3/11;
            grid-row: 1;
            max-height: 7em;
        }
        .masthead ul{
            display: grid;
            grid-template-columns: repeat(12, 1fr) ;
        }
        .header {
            grid-column: 5/9;
        }
        .avatar {
            grid-column: 1/1;
        }
        .sign {
            grid-column: 11/13;
        }
        .link {
            grid-column: 10/11;
        }


        .main-content {
            grid-column: 3/11;
            grid-row: 2/6;
            grid-auto-flow: row;
            display: grid;
            grid-template-columns: repeat(12, 1fr) ;
            grid-template-rows: 50px repeat(7, minmax(auto, 10em));
        }

        .friends {
            grid-column: 1/4;
            grid-row: 1/8;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
        }
        .title {
            grid-row: 1/2;
        }
        .friends_list {
            grid-row: 2/9;
        }


        .messages {
            grid-column: 4/13;
            grid-row: 1/8;

        }
        .messages_items {

        }
        .messages_block {
            grid-row: 2/6;
        }
        .messages_items {
            grid-row: 1/1;
        }
    }
}



@media screen and (max-width: 400px) {
    .login_form {
        width: 95%;
    }
}

@media screen and (min-width: 400px) and (max-width:700px)  {
    .login_form {
        width: 75%;
    }
}
@media screen and (min-width: 700px) and (max-width:1000px)  {
    .login_form {
        width: 55%;
    }
}

@keyframes shadow {
    0% {opacity: 0%;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}


